@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --main-color: #F5EDF0;
    --nav-color: #D1CCDC;
    --text-color: #3D2C2E;
    --cinereous: #886F68;
    --charcoal: #424C55;
}

body {
    background-color: var(--main-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.city-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px auto;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid red;
}

.container {
    margin: auto 100px auto 100px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

img {
    border-radius: 2%;
}

input {
    width: 400px;
    height: 44px;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    width: 250px;
    height: 40px;
    font-size: 26px;
    border-radius: 5%;
}

button:hover {
    transition: 500ms;
    background-color: var(--cinereous);
}

.weather {
    font-size: 40px;
}